.header{
    grid-area: header;
}
.menu{
    grid-area: menu;
}
.main{
    grid-area: main;
}
.right{
    grid-area: right;
}

.footer{
    grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas: 
    "header header header header header"
    "menu main main right right"
    "menu footer footer footer footer";
  height: 100vh;
  background-color: rgb(185, 228, 228);
  grid-gap: 10px;
}
.grid-container > div {
  padding: 20px;
  font-size: 30px;
  background-color: rgb(246, 199, 138);
}
.main-card{
  display: flex;
  flex-wrap: wrap; /* allows wrapping to next row */
  gap:20px;
}
.card{
  width:25%; /* 4 per row with gap */
  flex: 1 1 calc(25% - 20px); /* 4 per row */
  max-width: calc(25% - 20px);
  background: #f2f2f2;
  padding: 5px;
}
.card img {
    border-radius: 5px 5px 0 0;
    width:100%;
}