header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}
.navbar{
    display: flex;
    position:sticky;
    top:0;
    overflow: hidden;
    background-color: #5a762d;
}
.navbar a{
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
} 
.navbar a:hover{
    background-color: #ddd;
    color: black;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}   

.container {
  display: flex;
}

.sidebar{
  flex:20%;
  background-color:rgb(208, 207, 207);
  padding:15px;
  border-right: 1px solid #ddd;
}

.content{
  margin: 10px;
  flex:80%;
  padding:15px;
}

.card img {
    border-radius: 5px 5px 0 0;
    width:100%;
}

footer{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding:10px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}
.main-card{
  display: flex;
  flex-wrap: wrap; /* allows wrapping to next row */
  gap:20px;
}

.card{
  width:25%; /* 4 per row with gap */
  flex: 1 1 calc(25% - 20px); /* 4 per row */
  max-width: calc(25% - 20px);
  background: #f2f2f2;
  padding: 30px;
  text-align: center;
  border-radius: 8px;
}